TestScenario2.module/Schemas/Conversione.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="root">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="base"/>
        <xs:element type="xs:date" name="date"/>
        <xs:element name="rates">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:float" name="USD"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
